.main-board__pagination button {
  width: 30px;
  height: 30px;
  margin: 0 5px 20px 5px;

  font-size: 20px;
  line-height: 20px;
}

.main-board__page-number {
  display: inline-block;
  margin: 5px 10px;
  font-weight: 800;
}